extends ../layout

block content
  h2= title
  
  p.intro Pour ajouter un nouveau spot, utilisez la 
    a(href="/map") carte interactive
    | . Cliquez sur l'emplacement désiré ou utilisez la barre de recherche.

  ul
    each spot in spots
      li
        a(href=`/spots/${spot._id}`)= spot.title